<% if @orders.blank? %>
  <p>There are not any orders currently in the system.</p>
<% else %>
  <ul id = "orders">
    <% @orders.each do | order | %>
      <ul id="orders">
        <li>ORDER <%= order.id %> (<%= order.customer %>)</li>
        <% @order_items.each do | items | %>
        <% items.each do | item | %>
            <ul id="items">
            <% @order_item_names.each do | item_name | %>
                <li><%=item.quantity %>x <%=item_name %> @ <%=item.item_total %></li>
            <% end %>
            </ul>
          </ul>
          <% end %>
        <% end %>
  </ul>
    <% end %>
<% end %>