<% if @orders.blank? %>
  <p>There are not any orders currently in the system.</p>
<% else %>
    <% @orders.each do | order | %>
      <ul id="orders">
        <li>ORDER <%= order.id %> (<%= order.customer %>)</li>
        <% order.items.each do | items | %>
            <% @order_item_names.each do | item_name | %>
              <ul id="items">
                <li><%=items.quantity %>x <%=item_name %> @ <%=items.item_total %></li>
              </ul>
            <% end %>
        <% end %>
      </ul>
  </ul>
    <% end %>
<% end %>