<% if @order.blank? %>
  <p>There are not any orders with this ID currently in the system.</p>
<% else %>
  <ul id = "orders">
    <li>ORDER <%= @order.id %> (<%= @order.customer %>)</li>
      <% @order_items.each do | item | %>
        <% @order_item_names.each do | item_name | %>
                <ul id="items">
                  <li><%=item.quantity %>x <%=item_name %> @ <%=item.item_total %></li>
                </ul>
        <% end %>
      <% end %>
  </ul>
<% end %>
